<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Horários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="fundo-logo">

<div class="card">
    <h1>🕒 Gerenciar Horários</h1>

    <a href="/admin/horarios/futebol" class="btn"> Quadra 1</a>
    <a href="/admin/horarios/volei" class="btn"> Quadra 2</a>
    <a href="/admin/horarios/basquete" class="btn"> Quadra 3</a>

    <a href="/painel_dono" class="btn secundario">⬅ Voltar</a>
</div>

</body>
</html>
