<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolher Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="fundo-logo">

<div class="card">
    <h1>📅 Escolha a data</h1>

   <form method="POST">
    <input
        type="date"
        name="data"
        required
        min="{{ dias[0] }}"
        max="{{ dias[-1] }}"
    >
    <button class="btn" type="submit">Continuar</button>
</form>

    {% if session.get("tipo") == "dono" %}
    <a href="/admin/horarios" class="btn secundario">⬅ Voltar</a>
    {% else %}
    <a href="/quadras/{{ esporte }}" class="btn secundario">⬅ Voltar</a>
    {% endif %}

</div>

</body>
</html>
