<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Selecionar Esporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="fundo-logo">

<div class="card">
    <h1>🏟️ Escolha o esporte</h1>

    <a href="/quadras/Beach Tenis" class="btn">🏸 Beach Tênis</a>
    <a href="/quadras/Futvolei" class="btn">⚽ Futvôlei</a>
    <a href="/meus_horarios" class="btn amarelo">
     Meus Horários
</a>

    <!-- Botão SAIR dentro do card -->
    <a href="/logout" class="btn secundario"> Sair</a>
</div>

</body>
</html>
